<div dir="rtl">
<p>שלום {{contact}},</p>
<p>
    מצ"ב דרישת תשלום עבור פרויקט {{user.project}}
    <br />
    <strong>תיאור:</strong><br />
    {{description}}
</p>
<p>
    לצפייה בדרישת התשלום <button type="button" href="{{pdfUrl}}">לחץ כאן</button><br />
    לקבלת מקור בדואר נא להשיב למייל זה ולציין כתובת.
    <br />
    לאישורי מס, ניהול ספרים ועוד מסמכים בלינקים שבקובץ המצורף.
</p>
<p>
    בתודה,
    <br />
    *ביל
    <br />
    **הופק אוטומטית באמצעות מערכת <a href="http://bankayma.org">בנקיימא</a> מבית בר-קיימא לתרבות, אמנות, מוסיקה ושלום
    <br />
    <span dir="ltr">*Bill is a Robot powered by Love</span>
</p>
</div>